{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}S'enregistrer{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Nom</label>
    <input name="username" id="nom" required>

    <label for="prenom">Prénom</label>
    <input name="prenom" id="prenom" required>

    <label for="date_naissance">Date de naissance</label>
    <input name="date_naissance" id="date_naissance" required>

    <label for="sexe">Sexe</label>
    <input name="sexe" id="sexe" required>

    <label for="no_telephone">Numéro de téléphone</label>
    <input name="no_telephone" id="no_telephone" required>

    <label for="adresse">Adresse</label>
    <input name="adresse" id="adresse" required>

    <label for="email">Email</label>
    <input name="email" id="email" required>

    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="mdp" required>

    <input type="submit" value="S'inscrire">
  </form>
{% endblock %}