{% extends 'base.html' %}

{% block content %}
  <div class="register-container">
    <form method="post">
      <div class="info">
        <h1>S'inscrire</h1>

        <div class="input-box-register">
          <div>
            <input type="text" name="nom" 
            placeholder="Nom de famille" id="nom" required>
          </div>
          <div>
            <input type="text" name="prenom" 
            placeholder="Prénom" id="prenom" required>
          </div>
        </div>

      <div class="input-box-register">
        <div>
          <input type="email" name="username" 
          placeholder="Adresse e-mail" id="email" required>
        </div>
        <div>
          <input type="tel" name="no_telephone" 
          placeholder="Numéro de téléphone" id="no_telephone" required>
        </div>
      </div>

      <div class="input-box-register">
        <p><label for="date_naissance">Date de naissance</label></p>
        <input type="date" name="date_naissance" 
        id="date_naissance">
      </div>
      


      <div class="input-box-register">
        <p><label for="sexe">À quel genre vous identifiez-vous ?</label></p>
        <select name="sexe" id="sexe" required>
          <option value="">Faites votre choix</option>
          <option value="maculin">Masculin</option>
          <option value="feminin">Féminin</option>
          <option value="-">Autre</option>
        </select>
      </div>


      <div class="input-box-register">
        <input type="text" name="adresse" 
        placeholder="Adresse postale" id="adresse" required>
      </div>


      <div class="input-box-register">
        <input type="password" name="password" 
        placeholder="Mot de passe" id="mdp" required>
      </div>

      <button type="submit" class="btn"> S'inscrire</button>
    </form>
  </div>
{% endblock %}