{% extends 'base.html' %}

{% block header %}
<div class="header-home">
        <h1>L'art de soigner avec les mains</h1>
</div>
{% endblock %}

{% block content%}
<div class="home-content">
    <div class="stats">
        <div>
            <i class='bx bxs-group stat-icon'></i>
            <p class="chiffre">{{ last_client_no }}</p>
            <p class="stats-text">Consultants</p>
        </div>
        <div>
            <i class='bx bxs-wink-smile stat-icon'></i>
            <p class="chiffre">{{ last_client_no }}</p>
            <p class="stats-text">Satisfaits</p>
        </div>
        <div>
            <i class='bx bxs-location-plus stat-icon'></i>
            <p class="chiffre">1</p>
            <p class="stats-text">Lieu</p>
        </div>
        <div>
            <i class='bx bxs-lock-alt stat-icon'></i>
            <p class="chiffre">100%</p>
            <p class="stats-text">Discrétion et sécurité</p>
        </div>
        <div>
            <i class='bx bxs-heart stat-icon'></i>
            <p class="chiffre">1</p>
            <p class="stats-text">passion</p>
        </div>
    </div>
    <div id="citation" class="quote-container"></div>
    <button id="generate-btn">Générer une citation</button>
    <script src="app.js"></script>
    <div class="presentation">
        <div class="presentation-img">
            <img src="https://static.vecteezy.com/system/resources/previews/000/512/576/original/vector-profile-glyph-black-icon.jpg" alt="">
        </div>
        <div class="presentation-text">
            <h1>Ethan Roten</h1>
            <h2>Magnétiseur et fondateur de Lumière de Vie</h2>
            <hr> <!-- Ajoute une ligne horizontale -->
            <p>
                <br>Dans le cadre de mon travail de maturité, j'ai fait le choix d'allier passion et découverte. En effet, depuis tout petit, je suis doté d'un don que j'ai dû apprendre à dompter. 
                <br>Un jour, alors qu'un membre de ma famille s'était fortement brulé, j'ai eu le sentiment de pouvoir soulager la douleur. Je ne peux pas vraiment l'expliquer, mais je savais au fond de moi que je devais agir. J'ai eu le réflexe de placer mes mains au-dessus de la zone brûlée et là j'ai senti une chaleur intense. Inconsciemment, je savais ce que je faisais. Mon proche quant à lui senti une vague de froid soulagent la brulure. Dès ce jour, je su que j'étais capable de soulager les maux avec les mains.
                <br>Il n'a pas toujours été facile de subir le regard des autres face à cette différence pleine de préjugés. J'ai alors fait le choix de m'intéresser davantage à ce don, qu'on appelle magnétisme et de créer mon propre cabinet. 
                <br>A travers ce site, je souhaite permettre à tous de découvrir d'avantage les biens faits de cette pratique. Mais surtout, j'aimerais mettre à profit mes capacités pour aider les personnes qui en ont besoin, malgré mon jeune âge.
            </p>
        </div>
    </div>
    <div class="presentation-link">
        <a href="{{ url_for('home.contact')}}">Contactez-moi</a>
        <h3>Pour en savoir plus</h3>
    </div>
    

{% endblock %}