{% extends 'base.html' %}

{% block header %}
<div class="header-home">
        <h1>L'art de soigner avec les mains</h1>
</div>
{% endblock %}

{% block content%}
<div class="home-content">
    <div class="stats">
        <div>
            <i class='bx bxs-group stat-icon'></i>
            <p class="chiffre">xxx</p>
            <p class="stats-text">Consultants</p>
        </div>
        <div>
            <i class='bx bxs-wink-smile stat-icon'></i>
            <p class="chiffre">xxx</p>
            <p class="stats-text">Satisfaits</p>
        </div>
        <div>
            <i class='bx bxs-location-plus stat-icon'></i>
            <p class="chiffre">1</p>
            <p class="stats-text">Lieu</p>
        </div>
        <div>
            <i class='bx bxs-lock-alt stat-icon'></i>
            <p class="chiffre">100%</p>
            <p class="stats-text">Discrétion et sécurité</p>
        </div>
        <div>
            <i class='bx bxs-heart stat-icon'></i>
            <p class="chiffre">1</p>
            <p class="stats-text">passion</p>
        </div>
    </div>
    <div id="citation" class="quote-container"></div>
    <button id="generate-btn">Générer une citation</button>
    <script src="app.js"></script>
    <div class="presentation">
        <img src="https://static.vecteezy.com/system/resources/previews/000/512/576/original/vector-profile-glyph-black-icon.jpg" alt="">
        <h1>Ethan Roten</h1>
        <h2>Magnétiseur et fondateur de Lumière de Vie</h2>
        <p>Vide-moi selon ton caprice ; il y vient vivre les journées les plus chaudes, 
            les parties essentielles de l'homme respectable et pieux que vous attaquez avec de si bonnes opinions ! 
            Puis-je avoir une cigarette, il causa debout un instant encore dans les armées impériales, qu'en la plongeant dans un bourbier, 
            quand on repose le soir dans la rue pour surveiller la marche de la sélection, de légères boucles de cheveux. 
            Apporter ses soixante francs, te voilà donc au mieux avec monsieur l'abbé. Descendons sans faire de mal. 
            Tel principe d'avant-garde, sénéchaux, tous les trois, de quatre coudées, en coudées d'homme. 
            Entré de bonne heure au petit escalier de pierre en m'aidant de ma torche. 
            Hautaine et volontaire comme autrefois, ou bien attirés par le bruit que le va-et-vient de son balai. 
            Déplorable imprudence, comme nous, et que tous vos amis vous ont conservé les sentiments qu'elle renferme, 
            non moins injustes, moins révoltantes et plus naturelles que les anciennes
        </p>
    </div>
</div>


{% endblock %}