{% extends 'base.html' %}
{% block content %}

<form action="/vérif_changer_mdp" method="post" onsubmit="return ConfirmPasswords()">


    <div class="input-box">
        <input type="email" name="email" placeholder="Adresse e-mail" id="email" required>
        <i class='bx bxs-user' ></i>
    </div>
    <div class="input-date">
        <label for="date_naissance">Date de naissance</label>
        <input type="date" name="date_naissance" id="date_naissance">
    </div>
    <div class="form_line">
        <input type="password" name="password" placeholder="Nouveau mot de passe">
    </div>
    <input type="submit" value="Vérifier les disponibilités">

</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
