{% extends 'base.html' %}

{% block header %}
    <div class="banniere-profile">
        <h1>Bonjour {{ g.user.prenom }}, </h1>
        <h3>Bienvenue dans votre espace. Ici, vous pouvez :
          <br> - Planifier un nouveau rendez-vous,
          <br> - Consulter vos anciens rendez-vous,
          <br> - Éxaminer vos informations personnelles et les modifier</h3>
        <h2>En bref, c'est votre coin à vous !</h2>
    </div>
{% endblock %}

{% block content %}
<div class="account-container">
    <div class="account">
        <div class="id-user">{{ g.user.nom }} {{ g.user.prenom }}</div>
        <div class="info-perso"> 
            <label>Adresse e-mail : </label>
            <div>{{ g.user.email_client }}</div>

            <label>Adresse postale : </label>
            <div>{{ g.user.adresse }}</div>

            <label>Numéro de téléphone : </label>
            <div>{{ g.user.no_téléphone }}</div>

            <label>Date de naissance : </label>
            <div>{{ g.user.date_naissance }} </div>

            <label>Genre auquel vous vous identifiez : </label>
            <div>{{ g.user.sexe }}</div>
        </div>
        <a href="{{ url_for('user.edit_profile') }}">Modifier le profil</a>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
{% endwith %}

    </div>
    
    <div class="appointment">
            <h1>Prise de rendez-vous</h1>    
            <div id="date-step">
                <form id="date-form" action="check-date-profile" method="post">
                    <label for="date">Choisissez une date</label>
                    <div class="appointment-form">
                        <input type="date" id="date" name="date" required><br>
                    </div>
                    <input type="submit" value="Vérifier les disponibilités">
                </form>
            </div>
        
            <div id="time-step">
                <form id="time-form" action="check-booking-profile" method="post">
                    <p>Date sélectionnée : {{date}}</p>
                    <label for="time">Choisissez une heure </label>
                    <div class="appointment-form">
                        <select id="time" name="time" required>
                            {% if day_of_week == 'Tuesday' %}
                                <option value="">Nous sommes fermé le mardi</option>
                            {% elif day_of_week == 'Monday' or day_of_week == 'Wednesday' or day_of_week == 'Thursday' or day_of_week == 'Friday' %}
                                <option value="">Choisissez une tranche horaire</option>
                                <option value="17H00">17H00 à 18H00</option>
                                <option value="18H30">18H30 à 19H30</option>
                                <option value="20H00">20H00 à 21H00</option>
                            {% else %}
                            <option value="">Choisissez une tranche horaire</option>
                            <option value="10H00">10H00 à 11H00</option>
                            <option value="11H30">11H30 à 12H30</option>
                            <option value="14H00">14H00 à 15H00</option>
                            <option value="15H30">15H30 à 16H30</option>
                            <option value="17H00">17H00 à 18H00</option>
                            <option value="18H30">18H30 à 19H30</option>
                            <option value="20H00">20H00 à 21H00</option>
                            {% endif %}
                        </select><br>
                    </div>
                    <input type="hidden" id="selected-date-input" name="date" value="{{date}}">
                    <input type="submit" value="Vérifier les disponibilités">
                </form>
            </div>
        
            <div id="confirmation-step">
                <form id="confirmation-form" action="confirm-booking-profile" method="post">
                    <p>Date sélectionnée : {{date}}</p>
                    <p>Heure sélectionnée : {{time}}</p>
                    <label for="type_rdv">Choisissez un service</label>
                    <div class="appointment-form">
                        <select name="type_rdv" id="type_rdv">
                            <option value="">Type de rendez-vous</option>
                            <option value="téléphone">Entretien téléphonique</option>
                            <option value="oracle">Oracle</option>
                            <option value="magnétisme">Séance de magnétisme</option>
                            <option value="protection">Séance de protection</option>
                            <option value="tarot">Tirage des cartes (Tarot)</option>
                        </select><br>
                    </div>
                    <input type="hidden" id="selected-date-confirm" name="date" value="{{date}}">
                    <input type="hidden" id="selected-time-input" name="time" value="{{time}}">
                    <input type="submit" value="Confirmer le rendez-vous">
                </form>           
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
    </div>  
</div>

<div class="historique">
    <h2>Historique des rendez-vous</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Type de rendez-vous</th>
                <th>Bilan</th>
            </tr>
        </thead>
        <tbody>
            {% for rdv in comments %}
                <tr>
                    <td>{{ rdv['date'] }}</td>
                    <td>{{ rdv['heure'] }}</td>
                    <td>{{ rdv['nom_prestation'] }}</td>
                    <td>{{ rdv['bilan'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    
{% endblock %}

