* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* CSS de la barre de navigation */

.navbar{
  background-color: #4c7476;
  position: fixed;
  padding: 20px 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;

}

.navbar a {
  color: white;
}

.navbar .logo{
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 25px;
}

.navbar .nav-links ul li.active a{
  color: red;
  font-weight: 600;
}


.navbar .bx-menu {
  display: none;
  position: fixed;
  color: #000;
  top: 50px;
  right: 50px;
  font-size: 35px;
  z-index: 1000;
}



@media screen and (max-width: 1050px){
  .navbar{
    padding: 0;
  }

  .navbar .bx-menu{
    display: block;
  }

  .navbar a {
    color: black;
  }

  .nav-links{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    margin-left: -100%;
    z-index: 1000;

  }


  .navbar .logo{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1000;
  }

  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.2em;
  }

  .nav-links.mobile-menu{
    margin-left: 0;

  }
}

/* CSS de la home page */

.header-home {
  height: 100vh;
  width: 100vw;
  background-image: url('https://th.bing.com/th/id/R.e756cf426dc4c40f79b43660b5e4475e?rik=4PsfyxmxVHacoQ&riu=http%3a%2f%2fimg1.wsimg.com%2fisteam%2fstock%2f0a22769ef3c5dfd6265d4b4b00cd1af6a6fdf3be7baea5bc6e71b18341e1bc36&ehk=OhON1SzHG5v7vL2s9ji9wFaxW150u4dykRaraj49rb4%3d&risl=&pid=ImgRaw&r=0');
  background-size: cover;
}

.header-home h1 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  font-size: 75px;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #01495e;
}

.stats {
  height: 150px;
  padding: 0 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats div {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chiffre {
  font-size: 1.5em;
  margin: 0;
}

.stats-text {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}

.stat-icon {
  opacity: 0.4;
  color: #b0b0b0;
  font-size: 5em;
}

.presentation img{
  height: 100px;
  width: 100px;
}


#citation {
font-style: italic;
color: whitesmoke;
font-weight: bold;
font-size: 50px;
background-color: #507B7E;
max-width: 600px;
text-align: center;
margin: 100px auto 30px;
border: 1px solid #ccc;
border-radius: 15px;
border: none;
box-shadow: 7px 7px 60px #d6d6d6;
}


#generate-btn {
display: block;
margin: 0 auto;
padding: 10px;
background-color: #507B7E;
color: #fff;
border: none;
cursor: pointer;
font-size: 1em;
}

#generate-btn:hover {
background-color: #004a3c;
}

.auteur{
font-style: normal;
font-size: 30px;
font-weight: bold;
}

.presentation {
  color: white;
  align-items: center;
  margin-top: 100px;
  padding: 15px;
}


.presentation-text {
  margin-right: 30px;
}

.presentation-text h1{
  margin: 0;
  font-size: 30px;
}
.presentation-text h2 {
  margin: 0;
}

.presentation-text hr {
  margin: 10px 0;
  border: none;
  height: 2px;
  background-color: white;
}

.presentation-link{
  margin-top: 40px;
}

.presentation-link a{
  margin-left: 35%;
  color: #507B7E;
  font-size: 40px;
  font-weight: bolder;
}

.presentation-link h3{
  font-size: 40px;
  font-weight: bolder;
  margin-left: 45%;
}

.presentation-text {
  margin: 20px 50px 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #507B7E;
  color: white;
  line-height: 1.6;
  text-align: justify;
  float: right;
  margin-left: 20px;
}


/* CSS de la page de connexion */

.login-body, .register-body {
  margin-bottom: 100px;
  color: #fff;
  background: url("https://i.pinimg.com/originals/55/c1/16/55c1162e0c9a927cb0bac2a7b067c7b1.jpg") center;
  background-size: cover;
}


.form-container a{
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.form-container p{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.form-container, .form-container-register {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px 20px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 7px 7px 60px #222;
}

.form-container-register {
  min-width: 50%;
  max-width: 550px;
  width: 80%;
  position: absolute;
  margin: 100px auto 100px;
  
}

.form-container h1, .form-container-register h1 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  width: 100%;
  height: auto;
}

.input-box input, .input-box select {
  width: 100%;
  height: 40px;
  padding: 20px;
  color: black;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 16px;
  border-radius: 40px;
  margin: 1em 0;
  vertical-align: bottom;
}

.input-box i {
  color: #222;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-sexe select, #date_naissance{
  padding: 0;
  text-align: center;
}

.form-container .btn, .form-container-register .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.form-container .btn:hover, .form-container-register .btn:hover {
  background: #cececc;
}

/* Styles spécifiques à la page d'inscription */

.input-date label, .input-sexe label{
  display: flex;
  justify-content: center;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.input-date, .input-sexe, .input-name {
  flex: 1;
  width: 48%;
}

.registrationForm p {
  font-size: 14px;
  margin: 15px 0;
  display: inline-block;
  color: #000;
  padding: 5px 20px;
}


.register-link a:hover {
  color: red;
}

/* CSS de la page de contact */

.banniere-contact {
  position: relative;
  background: url('https://www.spirivie-formations.com/wp-content/uploads/2021/09/therapie-energetique.jpg') top/cover;
  height: 450px;
  padding: 20px;
}

.banniere-contact h1{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #01495e;
}

.dir-box{
  padding: 60px 20px 60px;
  margin-top: 50px;
}

.box-link {
  text-decoration: none;
  cursor: pointer;
}

.box-contact {
  color: whitesmoke;
  display: flex;
  align-items: center;
  width: 60%;
  background-color: #507B7E;
  text-align: left;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px #6b6b6b;
}

.cont-icon {
  font-size: 100px;
  margin-right: 15px;
}

.contact-content h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-form {
  max-height: 400px;
  margin: 30px auto 30px;
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px -10px #d6d6d6;
  backdrop-filter: blur(20px);
}

.contact-form-section{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url('https://i.pinimg.com/originals/55/c1/16/55c1162e0c9a927cb0bac2a7b067c7b1.jpg');
}

.contact-form h2{
  color: whitesmoke;
}

.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form .form-line {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.contact-form input,
.contact-form textarea {
  border-radius: 20px;
  font-size: 16px;
  width: 100%;
  margin: 10px 20px 20px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #e4e4e4;
  transition: 0.2s;
}


.contact-form button {
  background-color: #507B7E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #004a3c;
}

#adresse-horaires-title {
  text-align: left;
  margin-top: 80px;
}

#opentime-location {
  display: flex;
  align-items: center;
  padding: 10px;
}

#plan {
  flex-grow: 1;
  margin-right: 20px;
}

#opentime {
  color: whitesmoke;
  max-width: 300px;
  text-align: center;
  background-color: #507B7E;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px -10px #b0b0b0;
}

#opentime h2 {
  margin-bottom: 30px;
}

.jour-horaire {
  margin-bottom: 10px;
}

.jour {
  font-weight: bold;
}

/* CSS de la page de profile */

.banniere-profile {
  margin: 0;
  position: relative;
  background: url('https://awaken.com/wp-content/uploads/2020/09/istock-488572005-1024x576.jpg') right;
  height: 450px;
  padding: 20px;
}

.banniere-profile h2{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  font-weight: bold;
}

.banniere-profile h3{
  font-weight: 100;
  top: 200px;
  position: absolute;
  color: #fff;
}

.banniere-profile h1{
  font-weight: bold;
  top: 150px;
  position: absolute;
  color: #fff;
}

.account, .appointment{
  flex: 0 0 50%; 
  margin: 0 10px;
  margin-top: 65px;
  padding: 20px;
  background-color: #4c7476;
  max-width: 500px;
  border-radius: 15px;
  color: white;
  text-align: center;
  overflow: hidden;
}


.account .id-user, .appointment h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}

.account .info-perso div, .appointment-form {
  color: black;
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  border-radius: 30px;
  max-width: 300px;
  border: none;
  padding: 10px;
  border-radius: 30px;
  margin: 15px auto; 
  display: block; 
}

.appointment label{
  font-weight: bolder;
  font-size: x-large;
}

.appointment input[type="submit"] {
  background-color: #3c5b5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment input[type="submit"]:hover {
  background-color: #336666;
}

#date-step, #time-step, #confirmation-step {
  margin-bottom: 15px
}




.account a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #4c7476;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
  text-align: center;
}

.account a:hover {
  background-color: #336666;
}

.account-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120vh;
}

.historique {
  margin-top: 30px;
}

.historique table {
  width: 100%;
  border-collapse: collapse;
}

.historique th, .historique td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.historique th {
  background-color: #4c7476;
  color: white;
}

.historique tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.historique tbody tr:hover {
  background-color: #ddd;
}


.historique h2{
  margin-bottom: 10px;
}

.rdv_style{
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}



/* CSS de la page de modification */

.mod-form {
  margin-left: 50px;
  margin-top: 65px;
  padding: 15px;
  background-color: #4c7476; 
  max-width: 500px;
  text-align: center;
  border-radius: 15px;
  color: white;
}

.mod-form label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.mod-form input {
  border: none;
  width: 50%;
  padding: 10px;
  border-radius: 30px;
  margin: 15px 0;
}

.mod-form button{
  text-decoration: none;
  color: #fff;
  background-color: #4c7476;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
  text-align: center;
  border: none;
}

.mod-form button:hover{
  background-color: #336666;
}

.flash{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:hover {
  background-color: #f5f5f5;
}

.admin_container, .clients_container{
  margin-top: 100px;
  padding: 10px;
}

.clients_container h3{
  margin-top: 15px;
}

.comments{
  margin-top: 15px;
  margin-bottom: 30px;
}


.error_container {
  background-image: url('https://th.bing.com/th/id/R.e907f6fed090266f434e99e73e70ec8e?rik=GFFMgl4c7YithA&riu=http%3a%2f%2fevasion-online.com%2fimagearticle%2f2017%2f09%2fLac_183055298.jpg&ehk=VASoUQYyyGSdbUpN12T7GVof9NGurXj69fKsF0qDK8k%3d&risl=&pid=ImgRaw&r=0');
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  flex-direction: column; 
}

.error-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-title {
  font-size: 48px;
  color: #ff5722;
}

.error-message {
  font-size: 24px;
}

.error-link {
  color: #007bff;
  text-decoration: none;
}

.error-link:hover {
  text-decoration: underline;
}


.dec_container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: justify;
}

.legende {
  text-align: center;
}

.dec_container p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.dec_def,
.dec_but,
.dec_hist,
.dec_test {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #4c7476;
}

.dec_def h1,
.dec_but h1,
.dec_hist h1,
.dec_test h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.dec_hist h2 {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dec_hist img {
  max-width: 20%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.dec_test ol {
  padding-left: 20px;
}

.dec_test ol li {
  margin-bottom: 10px;
}


.service_container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: justify;
}

.service_container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service_container h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: #053D8D;
}

.service_container h4{
  font-size: 18px;
  text-align: left;
  margin-bottom: 15px;
}

.service_container p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.service_row {
  display: flex;
  flex-direction: column;
}

.service_row > * {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.service_oracle {
  background-color: #4c7476;
}

.service_magn {
  background-color: #4c7476;
}

.service_prot {
  background-color: #4c7476;
}

.service_tarot {
  background-color: #4c7476;
}

.service_legende {
  font-size: 10px;
  text-align: left;
}


.forget_mdp{
  text-align: center;
  margin-top: 200px;
  max-width: 400px;
  background-color: #4c7476;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border-radius: 10px;
  color: #fff;
  margin-left: auto;
  margin-right: auto; 
}

.forget_mdp h1{
  margin-bottom: 10px;
}

.input-box-fgt_mdp {
  margin-bottom: 20px;
}

.input-box-fgt_mdp input[type="email"], 
.input-box-fgt_mdp input[type="password"], 
.input-box-fgt_mdp input[type="date"] {
  width: 100%; /* Utiliser la largeur à 100% pour remplir le conteneur */
  height: 40px; /* Spécifier une hauteur fixe */
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

.date-label {
  display: block;
  text-align: left;
}

.submit-button-fgt_mdp {
  background-color: #3c5b5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button-fgt_mdp:hover {
  background-color: #336666;
}






