{% extends 'base.html' %}

{% block header %}
    <div class="banniere-contact">
        <h1>L'essentiel est de frapper à la bonne porte</h1>
        <h2>Contactez-moi !</h2>
    </div>
{% endblock %}

{% block content%}
<div class="moyen-contact">
    <div class="ecrire">
        <i class='bx bx-envelope'></i>
        <h2>Écrivez-moi</h2>
        <p>Remplissez le formulaire en ligne en incluant vos coordonées</p>
    </div>
    <div class="voir">
        <i class='bx bxs-home'></i>
        <h2>Venez me voir</h2>
        <p>Je vous acceuil volontiers chez moi pour répondre à vos questions.</p> 
        <p>Consultez les horaires et l'adresse pour savoir oú et quand venir.</p>
    </div>
    <div class="appel">
        <i class='bx bxs-phone'></i>
        <h2>Appelez-moi</h2>
        <p>Fixez une date pour un entretien téléphonique.</p>
    </div>
</div>
    <p>Ceci est un paragraphe de bienvenue.</p>
{% endblock %}