{% extends 'base.html' %}

{% block content%}
<div class="dec_container">
    <div class="dec_row">
        <div class="dec_def">
            <h1>C’est quoi le magnétisme ?</h1>
            <p>
                Il vient du latin <i>magnes</i>, qui signifie "aimant". C'est avant tout un phénomène physique qui étudie les propriétés attractives ou répulsives des objets. 
                Il existe une seconde définition selon laquelle, le magnétisme est un fluide dont disposerait les êtres. <br>

                Dans cette deuxième définition, les mains agissent comme des aimants et transmettent des bonnes ondes afin de prévenir les maladies, 
                accompagner leur guérison ou même stopper leur développement, en agissant directement sur le fluide de l'être, appelé "énergie". Toute personne est munie d'un certain magnétisme dès sa naissance, 
                mais comme dans de nombreux domaines, certaines personnes sont avantagées et possèdent un magnétisme plus développé que d'autres, on les appelle <i>magnétiseurs</i> ou encore <i>guérissseurs</i>. 
                Gardez à l'esprit qu'avec un peu de travail, il est possible d'augmenter la puissance de son magnétisme naturel. Il s'agit d'une pratique à laquelle on croit ou non. <br>

                Il est important de signaler que le magnétisme n'est en aucun cas une pratique médicale reconnue. Par conséquent, il ne remplace aucunement un traitement médical conventionnel. 
                Il ne faut jamais abandonner une cure en cours sans l'avis éclairé d'un spécialiste de la santé. Les magnétiseurs ne guérissent pas, ils soulagent simplement les douleurs ou inflammations et rétablissent 
                l'harmonie générale du corps. <br>
            </p>    
        </div>
        <div class="dec_but">
            <h1>À quoi sert un magnétiseur et quel est le but d'une séance de magnétisme ?</h1>
            <p>
                Les domaines d'activités du magnétiseur sont multiples. Dans le cas, du cabinet de <i>Lumière de Vie</i>, 
                le magnétiseur agit comme canal humain pour capter et transmettre de l'énergie, en imposant ses mains sur les zones douloureuses ou en utilisant un pendule. <br>

                Il use des fluides terrestres, mais également de son magnétisme naturel pour aider à soulager les douleurs du corps et faire remontrer les vibrations vitales déficientes du consultant. 
                Le magnétiseur peut également créer une bulle énergétique, servant de protection, autour d'un être. <br>

                Le but d'une séance de magnétisme, à proprement parler, est d'analyser énergétiquement le consultant et ainsi détecter les failles ou nœuds potentiels. 
                Elle peut servir à soulager des maux et réguler l'équilibre dynamique du corps. <br>
            </p>
        </div>
    </div>
    <div class="dec_hist">
        <h1>Parlons d'Histoire ...</h1>
        <h2>D'où vient cette pratique ?</h2>
        <p>
            L'imposition des mains dans le but de soulager la douleur, est l'une des premières techniques employées par l'Homme. 
            Il s'agit d'un réflexe instinctif dont la première évocation remonte à l'Égypte Antique. L'égyptologue Georg Moritz Ebers découvrit un papyrus sur lequel était écrit : 
            "<i> Pose ta main sur la douleur et dis très fort que la douleur s'en aille </i>"
            <br>
            <img src="https://th.bing.com/th/id/R.7d0b4c6cc0c8713c9d635509c09d78e1?rik=ax4PuNxUC6nK6Q&riu=http%3a%2f%2fwww.griffith.ox.ac.uk%2fgri%2fgif-files%2febers.jpg&ehk=A%2bzdTgkxsU1XdbRrZTf7GaK3WIF973W6VCq%2f%2fX1B6Yo%3d&risl=&pid=ImgRaw&r=0" alt="Goerg Moritz Ebers">
            <p class="legende">Georg Moritz Ebers (1837-1898)</p>

            Plus loin dans l'histoire, les pratiques  "miraculeuses" de Jésus ressemblaient fortement à celle d'un magnétiseur. 
            Attention, nous ne sommes pas entrain de dire qu'un magnétiseur est semblable à Jésus et qu'il est l'incarnation divine sur Terre. 
            Nous évoquons simplement que Jésus était probablement l'un des premiers magnétiseurs reconnus par tous. <br>

            Les rois de France jouaient également le rôle de magnétiseurs. Selon la légende, ils étaient capables de guérir les écrouelles par le toucher : "<i>le Roi te touche, Dieu te guérit </i>." 
            À cette époque, on attribuait le pouvoir du magnétisme à Dieu, ce qui valu bien des ennuis aux magnétiseurs. Le Roi étant l'incarnation divine, il était, en théorie, le seul à être doter d'un pouvoir surnaturel et d'origine divine pour guérir. 
            Toute autre personne se qualifiant de magnétiseur était alors accusée de sorcellerie et brûlée sur le bucher. 
            Ce n'est qu'au XVIe siècle que Paracelse, un médecin suisse, émet l'hypothèse d'une énergie curative entourant le corps humain pouvant expliquer le fameux "pouvoir surnaturel" des magnétiseurs. 
            <br>
            <img src="https://cdn.britannica.com/84/121084-050-E7DA0D94/Portrait-Paracelsus-Quinten-Massys-Paris-Louvre-Museum.jpg" alt="Paracelse">
            <p class="legende">Paracelse (1493-1541)</p>

            Franz-Anton Mesmer suivit cette hypothèse et réalisa des travaux supposant l'existence d'un fluide universel circulant autour du corps et à l'intérieur, reliant l'Homme à l'Univers. 
            Selon sa pensée, une mauvaise circulation du fluide à l'intérieur du corps causerait la maladie.
            <br>
            <img src="https://th.bing.com/th/id/R.2e8b0f6d418ea181cd3a3277f843fc00?rik=ehVqVfhEMgEnDA&pid=ImgRaw&r=0" alt="Franz-Anton Mesmer">
            <p class="legende">Franz-Anton Mesmer (1734-1815)</p>
            Ce voyage dans le temps nous amène à aujourd'hui. Le magnétisme est toujours une pratique mystérieuse et pleine de préjugée. Cependant, elle n'a plus ce lien religieux qu'elle avait auparavant. 
            De nos jours, on se moque souvent des personnes qui se proclament magnétiseurs, mais on ne cherche pas véritablement à comprendre de quoi on parle. Rappelons que tout le monde possède un magnétisme naturel et donc que tout le monde est, d'une certaine façon, magnétiseur. 
            Cependant pas tout le monde ne partage pas les mêmes compétences. 
        </p>
    </div>
    <div class="dec_test">
        <h1>Testez votre magnétisme</h1>
        <p>
            Avec <i>Lumière de Vie</i>, nous vous invitons à réaliser une expérience chez vous pour sentir votre magnétisme. 
            Vous allez créer une boulle d'énergie avec vos mains. 
        </p>
        <ol>
            <li>1.  Détendez-vous, respirez profondément, installez-vous confortablement, puis frotter vos mains l'une contre l'autre quelques secondes.</li>
            <li>2.  Placez vos paumes à environ 5 cm l'une de l'autre, de façon que vos paumes soient face à face. Vous allez d'abord ressentir des picotements ou de la chaleur.</li>
            <li>3.	Si vous rapprochez vos mains, vous sentirez une résistance entre vos mains. Il s'agit de la boulle d'énergie que vous venez de créer.</li>
        </ol>
    </div>
</div>
{% endblock %}
