{% extends 'base.html' %}

{% block header %}

{% endblock %}
{% block content%}

<div class="service_container">
    <div class="service_row">

        <div class="service_oracle">
            <h1>Oracle des mémoires familiales</h1>
            <p>
                Parfois, il semble que peu importe nos efforts, les choses ne progressent pas comme elles le devraient. 
                Il est possible que les souvenirs de nos ancêtres, que nous portons inconsciemment, influencent notre quotidien. <br>

                En réalité, nous sommes tous porteurs des souvenirs ou des blessures de notre lignée familiale, et malheureusement, 
                même sans avoir rencontré certaines personnes, leurs douleurs, leurs traumatismes ou leurs expériences. <br>

                L'Oracle sur les mémoires familiales vient éclairer ces mémoires, leur origine, mais surtout, il propose des voies pour s'en libérer aujourd'hui. <br>

                La réalisation de l'Oracle est facturée 25 CHF. <br>

                <p class="service_legende">Source : Robert, V. (2023). Oracle des Mémoires Familiales. Leduc Édition.</p>

            </p>
        </div>
        <div class="service_magn">
            <h1>Séance de magnétisme</h1>
            <h3>Vous vous sentez fatigué ? Vous avez des douleurs physiques ? Vous rentrez de voyage ? 
                Vous avez récemment subi une intervention chirurgicale ? 
                Ou alors vous ne vous sentez pas bien globalement ? <br>
            </h3>
            <h4>
                Une séance de magnétisme serait une chose idéale pour vous. 
            </h4>
            <p>
                Lors de cette pratique, le magnétiseur s'aide d'un pendule pour analyser les différentes vibrations vitales de l'être 
                et ainsi détecter des failles énergétiques potentielles. Par la suite, le magnétiseur utilise la technique de l'imposition des mains 
                pour recharger, réguler, harmoniser l'équilibre dynamique du corps et soigner les failles détectées précédemment. 
                Il est également possible de soulager des douleurs physiques ou d'accompagner la guérison de maladies. <br>

                Il est à noter que lors d'une séance de magnétisme, vous resterez habillé et majoritairement couché. 
                Il n'y a ,en principe, aucun contact physique entre vous et le magnétiseur. 
                L'ambiance est tamisée et reposante, grâce à de la musique tibétaine, pour aider à la relaxation et à l'ouverture énergétique. 
                Une séance de magnétisme dure en moyenne une heure durant laquelle il est tout à fait possible de se reposer. <br>

                Au cabinet de « Lumière de Vie » nous facturons cette prestation à 40 CHF. <br>

                <p class="service_legende">Source : Langlade, S. (2022). Mon manuel de magnétiseur. Mosaïque santé.</p>
            </p>    
        </div>
        <div class="service_row">

            <div class="service_prot">
                <h1>Séance de protection énergétique</h1>
                <h3>Vous vous sentez faible ? Vous faites souvent des cauchemars ? Vous avez l'impression que votre quotidien s'acharne sur vous ? 
                    Ou alors vous êtes épuisé après un contact social ? <br>
                </h3>
                <h4>
                    Une séance de protection est alors à envisager.
                </h4>
                <p>
                    Il s'agit d'une séance durant laquelle le magnétiseur crée une bulle de protection autour de votre être. 
                    Il faudrait considérer la protection énergétique comme un élément essentiel à la santé et au bien-être. 
                    Elle crée un bouclier invisible qui vous protège contre toutes sortes d'attaques, qu'elles soient intentionnelles ou accidentelles. <br>
    
                    Une séance de protection énergétique est facturée 50 CHF. <br>
    
                    <p class="service_legende">Source : Webster, R. (2010). Introduction. Dans R. Webster (éd.), Protection énergétique pour débutants (p. 1-15). Llewellyn Publications.</p>
    
                </p>
            </div>
            <div class="service_tarot">
                <h1>Tirage des cartes du Tarot</h1>
                <h3>Vous vous poser des questions sur votre situation actuelle ou sur vos actions futures ? 
                    Vous voulez savoir si vous allez rencontrer la personne de votre vie ? Ou encore vous avez besoin de réponses ? <br>
                </h3>
                <h4>
                    Le tirage de cartes du Tarot est une solution efficace pour vous. 
                </h4>
                <p>
                    Le tarot divinatoire, une pratique de voyance ancienne, qui prédit l'avenir à travers des cartes appelés arcanes.
                     Ces cartes possèdent des significations spécifiques, à la fois positives et négatives.<br>
    
                     Une séance de lecture de tarot suit un processus simple. 
                     La première étape consiste à mélanger soigneusement les cartes tout en se concentrant sur la question à laquelle vous souhaitez obtenir une réponse. 
                     Ensuite, vous choisissez 5 cartes selon un ordre précis et le magnétiseur interprète le message qu'elles véhiculent. <br>
    
                    Au cabinet de « Lumière de Vie » nous facturons cette prestation à 35 CHF. <br>
    
                    <p class="service_legende">Source : Tarot Guide.(https://www.tarot-guide.fr/)</p>
                </p>    
            </div>
    </div>
</div>
{% endblock %}