<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Lumière de Vie</title>
</head>

<body>
    <header>
        <div class="navbar">
            <ul class="links">
                <li><a href="{{ url_for('home.home_page') }}">Accueil</a></li>
                <li><a href="{{ url_for('home.contact') }}">Contact</a></li>
                <li><a href="{{ url_for('home.services') }}">Services</a></li>
                <li><a href="{{ url_for('home.decouvrir') }}">Découvrir</a></li>
            </ul>
            <div>
                {% if g.user %}
                    <li><a href="{{ url_for('auth.logout') }}">Se déconnecter</a></li>
                    <li><a href="{{url_for('user.show_profile')}}">Afficher le profil</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">S'inscrire</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Se connecter</a></li>
                {% endif %}
            </div>
        </div>
        {% block header %}{% endblock %}
    </header>

    
        
    <section class="content">
        {% block content %}{% endblock %}
    
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>