<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Lumière de Vie</title>
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('home.home_page')}}" class="logo">LUMIÈRE DE VIE</a>
        <div class="nav-links">
            <ul>
                <li class="active"><a href="{{ url_for('home.home_page')}}">HOME</a></li>
                <li><a href="{{ url_for('home.decouvrir')}}">découvrir</a></li>
                <li><a href="{{ url_for('home.services')}}">services</a></li>
                <li><a href="{{ url_for('home.contact')}}">contact</a></li>
                
                {% if g.user %}
                <li><a href="{{ url_for('user.show_profile') }}">afficher mon profil </a></li>

                {% if g.user.no_client == 25 %}
                <li><a href="{{ url_for('home.admin')}}">admin</a></li>
                {% endif %}
                <li>
                    <a href="{{ url_for('auth.logout') }}">se déconnecter</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('auth.register') }}">s'inscrire</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.login') }}">se connecter</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <i class='bx bx-menu menu-hamburger'></i>
    </nav>
    <header></header>
    {% block header %}
    {% endblock %}



    <section class="content">
        {% block content %}{% endblock %}

        <!-- {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}  -->
    </section>
</body>

<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}" defer></script>


</html>
